body{
    background-color: gray;
}


#superHeroForm{
    /* text-align: right; */
}

.btn{
    padding:10px;
    border: 10px;
    background-color: purple;
    margin: 5px;
}

#formLabel{
    color:white;
}

#imagesDiv{
    padding:10px;
    display:inline-block;
}